node_modules
npm-debug.log
.git
.gitignore
README.md
.env.local
.env.*.local
dist
.DS_Store
.vscode
.idea
coverage
*.log
.npm
.eslintcache
.next
out
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.venv
venv
ENV
env
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.turbo
